build
CacheControl
certifi
cffi
cfgv
charset-normalizer
cleo
crashtest
cryptography
distlib
dulwich
fastjsonschema
filelock
identify
idna
importlib_metadata
installer
jaraco.classes
jeepney
keyring
more-itertools
msgpack
nodeenv
packaging
pexpect
pkginfo
platformdirs
poetry
poetry-core
poetry-plugin-export
pre-commit
ptyprocess
pycparser
pyproject_hooks
PyYAML
rapidfuzz
requests
requests-toolbelt
SecretStorage
shellingham
tomli
tomlkit
trove-classifiers
urllib3
virtualenv
zipp
